@import "tailwindcss/base";

h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.responsive-embed{position:relative;height:0;padding-bottom:75%;margin-bottom:1rem;overflow:hidden}.responsive-embed embed,.responsive-embed iframe,.responsive-embed object,.responsive-embed video{position:absolute;top:0;left:0;width:100%;height:100%}.responsive-embed.widescreen{padding-bottom:56.25%}.responsive-embed.vimeo{padding-top:0}

/* vietnamese */
@font-face {
    font-family: 'Sigmar One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sigmarone/v11/co3DmWZ8kjZuErj9Ta3do6vpplLh4Uzwrw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Sigmar One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sigmarone/v11/co3DmWZ8kjZuErj9Ta3do6rpplLh4Uzwrw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Sigmar One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sigmarone/v11/co3DmWZ8kjZuErj9Ta3do6TpplLh4Uw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@import url("https://p.typekit.net/p.css?s=1&k=rqd7nkn&ht=tk&f=16142.42222&a=13804698&app=typekit&e=css");

@font-face {
    font-family:"ultra";
    src:url("https://use.typekit.net/af/c181bc/00000000000000003b9b2946/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/c181bc/00000000000000003b9b2946/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/c181bc/00000000000000003b9b2946/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:swap;font-style:normal;font-weight:400;
}

@font-face {
    font-family:"code-saver";
    src:url("https://use.typekit.net/af/8da21b/00000000000000003b9b3266/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/8da21b/00000000000000003b9b3266/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/8da21b/00000000000000003b9b3266/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:swap;font-style:normal;font-weight:400;
}

.tk-ultra { font-family: "ultra",serif; }
.tk-code-saver { font-family: "code-saver",sans-serif; }

/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
    font-family: "Bariol Regular";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Bariol Regular"),
        url("/wp-content/themes/pacurar2020/resources/fonts/bariol_regular-webfont.woff")
            format("woff");
}

@font-face {
    font-family: "Bariol Regular Italic";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Bariol Regular Italic"),
        url("/wp-content/themes/pacurar2020/resources/fonts/bariol_regular_italic-webfont.woff")
            format("woff");
}

@font-face {
    font-family: "Bariol Thin Italic";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Bariol Thin Italic"),
        url("/wp-content/themes/pacurar2020/resources/fonts/bariol_thin_italic-webfont.woff")
            format("woff");
}

@font-face {
    font-family: "Bariol Thin";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Bariol Thin"),
        url("/wp-content/themes/pacurar2020/resources/fonts/bariol_thin-webfont.woff")
            format("woff");
}

@font-face {
    font-family: "Bariol Light";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Bariol Light"),
        url("/wp-content/themes/pacurar2020/resources/fonts/bariol_light-webfont.woff")
            format("woff");
}

@font-face {
    font-family: "Bariol Light Italic";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Bariol Light Italic"),
        url("/wp-content/themes/pacurar2020/resources/fonts/bariol_light_italic-webfont.woff")
            format("woff");
}

@font-face {
    font-family: "Bariol Bold";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Bariol Bold"),
        url("/wp-content/themes/pacurar2020/resources/fonts/bariol_bold-webfont.woff")
            format("woff");
}

@font-face {
    font-family: "Bariol Bold Italic";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Bariol Bold Italic"),
        url("/wp-content/themes/pacurar2020/resources/fonts/bariol_bold_italic-webfont.woff")
            format("woff");
}

html,
body {
    font-family: code-saver, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.ultra {
    font-family: ultra, serif;
    font-weight: 400;
    font-style: normal;
}

.sigmar {
    font-family: "Sigmar One", cursive;
}


.navigation.flex {
    div {
        margin-left: 15px;
    }
}

.entry-content ol,
.entry-content p,
.entry-content ul {
    margin-bottom: 20px;
}

.entry-content {
    a {
        color: theme('colors.splash') !important;
        font-weight: bold !important;
        text-decoration: underline !important;
    }

    ul {
        list-style-position: inside;
    }

    blockquote {
        @apply p-0 p-2 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;

        cite {
            @apply font-bold;
        }
    }
    blockquote > p {
        @apply mb-0;
    }

    ol, li {
        list-style-position: outside;
    }
}

.min-h-header-home {
    min-height: 130px;
    background-size: cover !important;
}

@screen md {
    .min-h-header-home {
        background-size: 100% auto !important;
    }
}
@screen lg {
    .min-h-header-home {
        min-height: 300px;
    }
}

a.featured-image {
    max-height: 59vw;
}
@screen md {
    .featured-image {
        max-height: auto;
        img {
            height: intrinsic;
        }
    }
}

body:not(.search) {
    .wp-pagenavi {
        @apply pb-6;

        .pages,
        span,
        a {
            @apply inline-block bg-yellow border-black p-2 shadow-box #{!important} text-xs;

            @screen md {
                @apply p-4 #{!important} text-base;
            }

            &.current {
                @apply bg-green-200 #{!important};
            }

            &:hover {
                @apply shadow-boxhvr #{!important};
                transform: perspective(50em) rotateX(25deg);
            }
        }
    }
}

    .relevanssi-query-term {
        @apply font-bold underline;
    }

body.search {

    .wp-pagenavi {
        @apply pb-6;

        .pages,
        span,
        a {
            @apply inline-block border-black p-2 shadow-box #{!important} text-xs;

            @screen md {
                @apply p-4 #{!important} text-base;
            }

            &.current {
                @apply bg-green-200 #{!important};
            }

            &:hover {
                @apply shadow-boxhvr #{!important};
                transform: perspective(50em) rotateX(25deg);
            }
        }
    }
}

pre.wp-block-preformatted {
    overflow: scroll;
}

.perspective, .perspective-sm {
    transition: all 0.5s;
}

.perspective:hover {
    z-index: 1;
    transform: perspective(50em) rotateX(5deg);
}
.perspective-sm:hover {
    z-index: 1;
    transform: perspective(50em) rotateX(1deg);
}

.featured-image {
    img {
        object-fit: cover;
        // height: intrinsic;
        //max-height: 250px;
    }
}

.prose {
    figure.wp-block-pullquote {
        @apply mt-1 mb-1 p-2;
    }
    // iframe {
    //     max-width: 100%;
    // }
}

.navigation {
    li.menu-item.depth-0 {
        > a {
            @apply ultra m-1; //menu-item-text

            @apply text-white;
                text-shadow:
                -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;

            @screen md {
                @apply text-black;
                text-shadow: none;
            }

            transform: rotate(-20deg);
            -webkit-transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
            position: relative;
            display: inline-block;
            transition: all 1s;

            min-height: 0vw;

            font-size: clamp(0.7rem, 1.2vw, 1.5rem) !important;
            //font-size: max(0.7rem, min(1vw, 1.5rem));
            //font-size: calc(22px + 8 * (100vw - 750px)/ 450);
            &:hover {
                transform: rotate(0deg);
            }
        }
    }
}


.post-box {
				opacity: 0;
				-webkit-transform: rotate(40deg) scale(0.5);
					 -moz-transform: rotate(40deg) scale(0.5);
						-ms-transform: rotate(40deg) scale(0.5);
						 -o-transform: rotate(40deg) scale(0.5);
								transform: rotate(40deg) scale(0.5);
				-webkit-transition: all 0.8s ease-in-out;
					 -moz-transition: all 0.8s ease-in-out;
						-ms-transition: all 0.8s ease-in-out;
						 -o-transition: all 0.8s ease-in-out;
								transition: all 0.8s ease-in-out;
                                &.visible {
				opacity: 1;
				// -webkit-transform: none;
				// 	 -moz-transform: none;
				// 		-ms-transform: none;
				// 		 -o-transform: none;
				// 				transform: none;
			}

            transform: translateX(0);

            &.kon {
                &.left {
                    transform: translateX(-400%);
                }
                &.right {
                    transform: translateX(400%);
                }
            }
			}

.flex-gap {
  gap: 12px;
}

.bit-rotated {
    transform: rotate(10deg) skew(20deg);
    font-family: "Courier New", Courier, monospace;
    font-variant: tabular-nums;
    letter-spacing: 3px;
    @apply font-bold;
}

ul.wp-block-gallery {
    li {
        padding-left: 0 !important;
        &:before {
            content: none;
        }
    }
}

.containerfull {
    @apply mx-12;
}

.maincontainer:not(.containerfull) {
    @apply mx-auto;
}

.commentlist {
    li {
        @apply mt-4;
        &:first-of-type {
            @apply mt-0;
        }

        ul.children {
            @apply pl-3 md:pl-6 mt-4;
        }
    }
    .comment-body {
        @apply bg-white shadow-box flex-1 w-full border-2 border-black px-2 py-2 text-xl;
    }

    .comment-author.vcard {
        @apply flex;
        cite {
            @apply ml-2;
        }
        span.says {
            @apply ml-2;
        }
        img {
            @apply rounded-full;
        }
    }
    .commentmetadata {
        @apply text-xs;
    }
    p {
        @apply my-2;
        word-break: break-word;
    }

    .reply {
        @apply my-4;
        a {
            @apply bg-green-200 text-black p-2 shadow-box hover:shadow-boxhvr text-base;
        }
    }
}

.comment-respond {
    @apply mt-8;
    @apply bg-white shadow-box flex-1 w-full border-2 border-black px-2 py-2 text-xl;
}

.comment-form {
    .comment-form-comment {
        @apply mt-4;
    }
    .comment-form-author {
        @apply mt-4;
    }
    .comment-form-url, .comment-form-email {
        @apply mt-2;
    }
    .comment-form-author, .comment-form-url, .comment-form-email {
        input {
        @apply border border-black shadow-box py-2 w-full md:w-auto;
        }
    }
    textarea {
        @apply border border-black w-full shadow-box;
    }

    .form-submit {
        @apply mt-6 mb-6;
        input.submit {
        @apply bg-green-200 text-black p-2 shadow-box hover:shadow-boxhvr text-base cursor-pointer;
        }
    }


}

.akismet_comment_form_privacy_notice   {
    @apply text-center w-full mt-4;
    a {
        @apply underline;
    }
}


h3#comments, h3#reply-title {
    @apply mb-4 text-2xl sigmar;
}

p.comment-notes, p.logged-in-as {
    @apply text-xs;
}

a#cancel-comment-reply-link {
    font-family: code-saver, sans-serif;
    font-weight: 400;
    font-style: normal;
    @apply ml-2 bg-red-200 text-black p-1 shadow-box hover:shadow-boxhvr text-xs cursor-pointer;
}

.prose {
    word-break: break-word;

    &.dark\:text-white {
        a {
            @apply text-white #{!important};
        }
        * {
            @apply text-white;
        }
    }
}


.btn-cta-consultanta {
    @apply bg-red-400;
    border-radius: .25rem;
    color: #fff;
    padding: 1.5rem;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;

    font-size: 16px;
}
.btn-cta-consultanta:focus,
.btn-cta-consultanta:hover {
    @apply bg-red-600 text-2xl;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.wp-block-embed {
    blockquote {
        display: none;
    }
    iframe.wp-embedded-content {
        position: relative !important;
    }
}

.wp-embed-responsive .wp-has-aspect-ratio .wp-block-embed__wrapper:before {
    padding-top: 0 !important;
}

.emulated-flex-gap {
    --gap: 12px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
}

.emulated-flex-gap>* {
    flex: 1;
    min-width: max-content;
    text-align: center;
    margin: var(--gap) 0 0 var(--gap);
}

.group:hover {
    .show-border:after {
            display: block;
            position: absolute;
            content: " ";
            width: 100%;
            height: 5px;
            border-bottom: 3px solid #000;
            /* top: 0; */
            left: 0;
            bottom: -5px;
            /* top: 0; */
            transform: rotate(-1deg);
            border-style: dashed;
            }
        }

@responsive {
    .two-cols-title-portfolio {
        grid-template-columns: 1fr max-content !important;
    }

    .max-w-fit {
        max-width: max-content !important;
    }

    .o-1 {
        order: 1 !important;
    }

    .o-2 {
        order: 2 !important;
    }
}
