body:not(.search) {
    .wp-pagenavi {
        @apply pb-6;
        .pages,
        span,
        a {
            @apply inline-block p-2 text-xs;
            background: var(--color-surface-container);
            color: var(--color-on-surface);
            border-radius: 0.125rem;
            @variant md {
                @apply p-3 text-sm;
            }
            &.current {
                background: var(--color-primary);
                color: var(--on-primary);
            }
            &:hover {
                background: var(--color-primary-container);
                color: #fff;
            }
        }
    }
}

.relevanssi-query-term {
    @apply font-bold underline;
}

body.search {
    .wp-pagenavi {
        @apply pb-6;
        .pages,
        span,
        a {
            @apply inline-block p-2 text-xs;
            background: var(--color-surface-container);
            color: var(--color-on-surface);
            border-radius: 0.125rem;
            @variant md {
                @apply p-3 text-sm;
            }
            &.current {
                background: var(--color-primary);
                color: var(--on-primary);
            }
            &:hover {
                background: var(--color-primary-container);
                color: #fff;
            }
        }
    }
}
